schema/base/NrPresEnvelope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
   targetNamespace="http://www.lmonte.com/besm/env"
   xmlns:d="http://www.lmonte.com/besm/d"
   xmlns:env="http://www.lmonte.com/besm/env"
   xmlns:com="http://www.lmonte.com/besm/com"
   xmlns:dtyp="http://www.lmonte.com/besm/dtyp"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   elementFormDefault="qualified" attributeFormDefault="unqualified" version="2019.0.002">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="NrPresCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="DataTypes.xsd"/>
   <xsd:simpleType name="AboveGradeStoryCount">
      <xsd:annotation>
         <xsd:documentation>An attribute of the Building object for recording the number of above grade stories in the building which is used in several rules.  Units: none</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Above Grade Story Count</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative">
         <xsd:minInclusive value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AirInfiltrationRate">
      <xsd:annotation>
         <xsd:documentation>Uncontrolled inward air leakage from outside a building or unconditioned space, including leakage through cracks and interstices, around windows and doors, and through any other exterior or demising partition or pipe or duct penetration.  Units: ft3 per min ft2</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Air Infiltration Rate</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CavityInsulationNR">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Cavity Insulation</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="R0">none</dtyp:displayterm>
            <dtyp:displayterm value="R10">R 10</dtyp:displayterm>
            <dtyp:displayterm value="R11">R 11</dtyp:displayterm>
            <dtyp:displayterm value="R13">R 13</dtyp:displayterm>
            <dtyp:displayterm value="R15">R 15</dtyp:displayterm>
            <dtyp:displayterm value="R16">R 16</dtyp:displayterm>
            <dtyp:displayterm value="R19">R 19</dtyp:displayterm>
            <dtyp:displayterm value="R20">R 20</dtyp:displayterm>
            <dtyp:displayterm value="R21">R 21</dtyp:displayterm>
            <dtyp:displayterm value="R22">R 22</dtyp:displayterm>
            <dtyp:displayterm value="R23">R 23</dtyp:displayterm>
            <dtyp:displayterm value="R24">R 24</dtyp:displayterm>
            <dtyp:displayterm value="R25">R 25</dtyp:displayterm>
            <dtyp:displayterm value="R26">R 26</dtyp:displayterm>
            <dtyp:displayterm value="R29">R 29</dtyp:displayterm>
            <dtyp:displayterm value="R30">R-30</dtyp:displayterm>
            <dtyp:displayterm value="R32">R 32</dtyp:displayterm>
            <dtyp:displayterm value="R35">R 35</dtyp:displayterm>
            <dtyp:displayterm value="R36">R 36</dtyp:displayterm>
            <dtyp:displayterm value="R38">R-38</dtyp:displayterm>
            <dtyp:displayterm value="R5">R 5</dtyp:displayterm>
            <dtyp:displayterm value="R6">R-6</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="R0"/>
         <xsd:enumeration value="R10"/>
         <xsd:enumeration value="R11"/>
         <xsd:enumeration value="R13"/>
         <xsd:enumeration value="R15"/>
         <xsd:enumeration value="R16"/>
         <xsd:enumeration value="R19"/>
         <xsd:enumeration value="R20"/>
         <xsd:enumeration value="R21"/>
         <xsd:enumeration value="R22"/>
         <xsd:enumeration value="R23"/>
         <xsd:enumeration value="R24"/>
         <xsd:enumeration value="R25"/>
         <xsd:enumeration value="R26"/>
         <xsd:enumeration value="R29"/>
         <xsd:enumeration value="R30"/>
         <xsd:enumeration value="R32"/>
         <xsd:enumeration value="R35"/>
         <xsd:enumeration value="R36"/>
         <xsd:enumeration value="R38"/>
         <xsd:enumeration value="R5"/>
         <xsd:enumeration value="R6"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CeilingArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Ceiling Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CeilingConstructionType">
      <xsd:annotation>
         <xsd:documentation>One of several general types of ceiling construction.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Ceiling Construction Type</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Suspended">Suspended</dtyp:displayterm>
            <dtyp:displayterm value="TBar">T-bar</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Suspended"/>
         <xsd:enumeration value="TBar"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CeilingInsulation">
      <xsd:annotation>
         <xsd:documentation>  Units: h ft2 F per Btu</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Proposed Ceiling Insulation</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CeilingInsulationRequired">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Required Ceiling Insulation</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="R30">R-30</dtyp:displayterm>
            <dtyp:displayterm value="R38">R-38</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="R30"/>
         <xsd:enumeration value="R38"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CeilingName">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ConditionedFloorAreaRangeNR">
      <xsd:annotation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="10000To49999Ft2">10,000 - 49,999 ft[d:sup]2[/d:sup]</dtyp:displayterm>
            <dtyp:displayterm value="GT25000Ft2">[d:gt/] 25,000 ft[d:sup]2[/d:sup]</dtyp:displayterm>
            <dtyp:displayterm value="GTE50000Ft2">50,000 ft[d:sup]2[/d:sup] or greater</dtyp:displayterm>
            <dtyp:displayterm value="LT10000Ft2">[d:lt/] 10,000 ft[d:sup]2[/d:sup]</dtyp:displayterm>
            <dtyp:displayterm value="LTE25000Ft2">[d:lte/] 25,000 ft[d:sup]2[/d:sup]</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="10000To49999Ft2"/>
         <xsd:enumeration value="GT25000Ft2"/>
         <xsd:enumeration value="GTE50000Ft2"/>
         <xsd:enumeration value="LT10000Ft2"/>
         <xsd:enumeration value="LTE25000Ft2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ConstructedShadingType">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Shading Type</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Overhang">Overhang</dtyp:displayterm>
            <dtyp:displayterm value="VerticalFin">Vertical fin</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Overhang"/>
         <xsd:enumeration value="VerticalFin"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ConstructionAssemblyRValue">
      <xsd:annotation>
         <xsd:documentation>  Units: h ft2 F per Btu</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ConstructionAssemblyThickness">
      <xsd:annotation>
         <xsd:documentation>The thickness of a  construction assembly thickness measured in inches  Units: in</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ConstructionAssemblyUFactor">
      <xsd:annotation>
         <xsd:documentation>The overall coefficient of thermal transmittance through a construction assembly. It includes air film resistance at both surfaces.  Units: Btu per h ft2 F</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ConstructionSpecificationMethod">
      <xsd:annotation>
         <xsd:documentation>The method of describing a construction assembly. For California compliance, only the Layers approach is used. Other inputs facilitate specification of the final method used in simulation.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Construction Specification Method</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="CFactor">C Factor</dtyp:displayterm>
            <dtyp:displayterm value="FFactor">F Factor</dtyp:displayterm>
            <dtyp:displayterm value="Layers">Layers</dtyp:displayterm>
            <dtyp:displayterm value="PredefinedConstructionAssembly">Predefined construction assembly</dtyp:displayterm>
            <dtyp:displayterm value="UFactor">U Factor</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="CFactor"/>
         <xsd:enumeration value="FFactor"/>
         <xsd:enumeration value="Layers"/>
         <xsd:enumeration value="PredefinedConstructionAssembly"/>
         <xsd:enumeration value="UFactor"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CRRC_AgedEmittance">
      <xsd:annotation>
         <xsd:documentation>The CRRC rated 3-year aged thermal emittance of a roofing material.  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
         <xsd:maxInclusive value="1"/>
         <xsd:minInclusive value="0"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CRRC_AgedReflectance">
      <xsd:annotation>
         <xsd:documentation>The CRRC rated 3-year aged solar reflectance of a roofing material.  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
         <xsd:maxInclusive value="1"/>
         <xsd:minInclusive value="0"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CRRC_AgedSRI">
      <xsd:annotation>
         <xsd:documentation>The CRRC rated 3-year aged Solar Reflective Index (SRI) of a roofing material.The SRIis a measure defined by the Lawrence Berkeley National Laboratory as the roof's ability to reject solar heat, as shown by a small temperature rise.  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CRRC_InitialEmittance">
      <xsd:annotation>
         <xsd:documentation>The CRRC rated initial thermal emittance of a roofing material.  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
         <xsd:maxInclusive value="1"/>
         <xsd:minInclusive value="0"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CRRC_InitialReflectance">
      <xsd:annotation>
         <xsd:documentation>The CRRC rated initial solar reflectance of a roofing material.  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
         <xsd:maxInclusive value="1"/>
         <xsd:minInclusive value="0"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CRRC_InitialSRI">
      <xsd:annotation>
         <xsd:documentation>The CRRC rated initial Solar Reflective Index (SRI) of a roofing material.The SRIis a measure defined by the Lawrence Berkeley National Laboratory as the roof's ability to reject solar heat, as shown by a small temperature rise.  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CRRC_SRI">
      <xsd:annotation>
         <xsd:documentation>  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CRRCProductID">
      <xsd:annotation>
         <xsd:documentation>The CRRC product identification number for the roofing product</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:token">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DisplayPerimeter">
      <xsd:annotation>
         <xsd:documentation>The length of an exterior wall in a building of CBC Occupancy Group B; F Div1, or M, that immediately abuts a public sidewalk, measured at the sidewalk level for each story that abuts a public sidewalk.  It can be derived using the CBC Occupancy type and the Width dimension of the Exterior Wall.  Units: ft</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Display Perimeter</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DividerMinimumSpacing">
      <xsd:annotation>
         <xsd:documentation>The measurement of the width of the spacer between double panes in inches.  If it is less than 7/16 in, 0.05 is added to the UFactor.  Units: in</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Divider Minimum Spacing</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DividerThroughPanes">
      <xsd:annotation>
         <xsd:documentation>A Boolean and if True, indicates that the divider goes through the fenestration pane and this causes the fenestration product U-Factor to be adjusted.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Divider Through Panes</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="true">Yes</dtyp:displayterm>
            <dtyp:displayterm value="false">No</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:boolean">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DoorArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DoorCertificationMethod">
      <xsd:annotation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="CECDefaultPerformance">Tables 110.6-A and 110.6-B</dtyp:displayterm>
            <dtyp:displayterm value="NFRCRated">NFRC</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="CECDefaultPerformance"/>
         <xsd:enumeration value="NFRCRated"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DoorConstructionName">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR name DoorConstructionReference
</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DoorLocation">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DoorName">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DynamicGlazingType">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="ChromogenicGlazing">Chromogenic glazing</dtyp:displayterm>
            <dtyp:displayterm value="IntegratedShadingDevice">Integrated shading device</dtyp:displayterm>
            <dtyp:displayterm value="NoDynamicGlazing">None</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="ChromogenicGlazing"/>
         <xsd:enumeration value="IntegratedShadingDevice"/>
         <xsd:enumeration value="NoDynamicGlazing"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="EnvelopeName">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ExteriorFloorArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ExteriorFloorType">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Raised">Raised</dtyp:displayterm>
            <dtyp:displayterm value="SlabConcreteRaised">Concrete raised</dtyp:displayterm>
            <dtyp:displayterm value="SlabHeated">Heated Slab</dtyp:displayterm>
            <dtyp:displayterm value="SlabOnGrade">Slab on grade</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Raised"/>
         <xsd:enumeration value="SlabConcreteRaised"/>
         <xsd:enumeration value="SlabHeated"/>
         <xsd:enumeration value="SlabOnGrade"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ExteriorWallArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Exterior Wall Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ExternalShadingObjectArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ExternalShadingObjectName">
      <xsd:annotation>
         <xsd:documentation>The name of a shading control that is located on the outside of the building.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FenestrationCertificationMethod">
      <xsd:annotation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="CECDefaultPerformance">Tables 110.6-A and 110.6-B</dtyp:displayterm>
            <dtyp:displayterm value="CF1R_ENV_02">Area-weighted Average Worksheet (CF1R-ENV-02)</dtyp:displayterm>
            <dtyp:displayterm value="NA6Equations">Equations NA 6-1 and NA 6 -2</dtyp:displayterm>
            <dtyp:displayterm value="NFRCRated">NFRC</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="CECDefaultPerformance"/>
         <xsd:enumeration value="CF1R_ENV_02"/>
         <xsd:enumeration value="NA6Equations"/>
         <xsd:enumeration value="NFRCRated"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FenestrationConstructionSkylightName">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FenestrationConstructionVerticalName">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FenestrationFloorRatio">
      <xsd:annotation>
         <xsd:documentation>  Units: percent</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:Decimal1PlaceNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FenestrationFloorRatioLimitAll">
      <xsd:annotation>
         <xsd:documentation>For residential  new buildings the limit is 20% for all orientations.  The ration/percentage varies with the size of additions.  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FenestrationFloorRatioLimitWest">
      <xsd:annotation>
         <xsd:documentation>For residential buildings the limit is 5% for west facing fenestration.  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FenestrationOperability">
      <xsd:annotation>
         <xsd:documentation>The operation capability, if any, of a fenestration product.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Fenestration Operability</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Fixed">Fixed</dtyp:displayterm>
            <dtyp:displayterm value="Operable">Operable</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Fixed"/>
         <xsd:enumeration value="Operable"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FenestrationPaneCount">
      <xsd:annotation>
         <xsd:documentation>An attribute of Fenestration Construction that tracks how many panes are in the fenestration product.  Value is numeric so it can be used in calculations  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FenestrationProductType">
      <xsd:annotation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="CurtainWall">Curtain wall</dtyp:displayterm>
            <dtyp:displayterm value="FixedWindow">Fixed window</dtyp:displayterm>
            <dtyp:displayterm value="GlazedDoor">Glazed door</dtyp:displayterm>
            <dtyp:displayterm value="OperableWindow">Operable window</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="CurtainWall"/>
         <xsd:enumeration value="FixedWindow"/>
         <xsd:enumeration value="GlazedDoor"/>
         <xsd:enumeration value="OperableWindow"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FenestrationType">
      <xsd:annotation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Skylight">Skylight</dtyp:displayterm>
            <dtyp:displayterm value="VerticalFenestration">Vertical fenestration</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Skylight"/>
         <xsd:enumeration value="VerticalFenestration"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FenestrationVerticalArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FenestrationVerticalCount">
      <xsd:annotation>
         <xsd:documentation>This is the count of the same vertical fenestration product being installed in the building.  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FieldAppliedCoating">
      <xsd:annotation>
         <xsd:documentation>Defines whether a roof coating is field or factory applied. Required for ACM aged reflectance equation.</xsd:documentation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="true">Yes</dtyp:displayterm>
            <dtyp:displayterm value="false">No</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:boolean">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FloorAreaGross">
      <xsd:annotation>
         <xsd:documentation>The total floor area inside the building envelope, including the external walls, and excluding the roof  Units: ft2</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FloorSlabHeated">
      <xsd:annotation>
         <xsd:documentation>Defines if the slab floor is heated or not and affects the assigned F Factor</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Floor Slab Heating</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="true">Yes</dtyp:displayterm>
            <dtyp:displayterm value="false">No</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:boolean">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FrameDepth">
      <xsd:annotation>
         <xsd:documentation>The nominal depth of construction framing members and is evaluated in some Joint Appendix 4 tables to assign UFactor to the ConstructionAssembly.  Units: in</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FrameWidth">
      <xsd:annotation>
         <xsd:documentation>The nominal width of construction framing members and is evaluated in some Joint Appendix 4 tables to assign UFactor to the ConstructionAssembly.  Units: in</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FramingFactor">
      <xsd:annotation>
         <xsd:documentation>The percentage of cross-sectional surface area of a partition that is attributed to studs, plates, and other framing members.  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FramingSize">
      <xsd:annotation>
         <xsd:documentation>The nominal size of construction framing members and is evaluated in some Joint Appendix 4 tables to assign UFactor to the ConstructionAssembly.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Framing Size</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="2x10">2x10</dtyp:displayterm>
            <dtyp:displayterm value="2x12">2x12</dtyp:displayterm>
            <dtyp:displayterm value="2x14">2x14</dtyp:displayterm>
            <dtyp:displayterm value="2x4">2x4</dtyp:displayterm>
            <dtyp:displayterm value="2x6">2x6</dtyp:displayterm>
            <dtyp:displayterm value="2x8">2x8</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="2x10"/>
         <xsd:enumeration value="2x12"/>
         <xsd:enumeration value="2x14"/>
         <xsd:enumeration value="2x4"/>
         <xsd:enumeration value="2x6"/>
         <xsd:enumeration value="2x8"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FramingSpacing">
      <xsd:annotation>
         <xsd:documentation>The distance between framing members and is evaluated in some Joint Appendix 4 tables to assign UFactor to the ConstructionAssembly.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Framing Spacing</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="16InchOC">@ 16 in. O. C.</dtyp:displayterm>
            <dtyp:displayterm value="24InchOC">@ 24 in. O. C.</dtyp:displayterm>
            <dtyp:displayterm value="48InchOC">@ 48 in. O. C.</dtyp:displayterm>
            <dtyp:displayterm value="96InchOC">@ 96 in. O. C.</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstantPermissive">
         <xsd:enumeration value="16InchOC"/>
         <xsd:enumeration value="24InchOC"/>
         <xsd:enumeration value="48InchOC"/>
         <xsd:enumeration value="96InchOC"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FramingThermalBreak">
      <xsd:annotation>
         <xsd:documentation>An attribute that is used to assign mandatory default U Factors and SHGC for fenestration products. Values are: Thermal Break and No Thermal Break.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Fenestration Framing Thermal Break</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="NoThermalBreak">No thermal break</dtyp:displayterm>
            <dtyp:displayterm value="ThermalBreak">Thermal break</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="NoThermalBreak"/>
         <xsd:enumeration value="ThermalBreak"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FurringStripThickness">
      <xsd:annotation>
         <xsd:documentation>  Units: in</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="GlazingArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="GlazingRatio">
      <xsd:annotation>
         <xsd:documentation>  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="GlazingTint">
      <xsd:annotation>
         <xsd:documentation>Has values of clear and tinted and is used in assigning mandatory default SHGC values.</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Glazing Tint</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="ClearGlazing">Clear (not visibly tinted)</dtyp:displayterm>
            <dtyp:displayterm value="TintedGlazing">Tinted (visibly tinted)</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="ClearGlazing"/>
         <xsd:enumeration value="TintedGlazing"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationCavityRValue">
      <xsd:annotation>
         <xsd:documentation>  Units: h ft2 F per Btu</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationContinuousRValue">
      <xsd:annotation>
         <xsd:documentation>  Units: h ft2 F per Btu</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationCoreRValue">
      <xsd:annotation>
         <xsd:documentation>R value of core insulation in a SIP construction assembly  Units: h ft2 F per Btu</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationExteriorRValue">
      <xsd:annotation>
         <xsd:documentation>R value of exterior insulation in a mass wall  construction assembly  Units: h ft2 F per Btu</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationExteriorRValueMinimum">
      <xsd:annotation>
         <xsd:documentation>Minimum R value required in exterior insulation in a mass wall  construction assembly  Units: h ft2 F per Btu</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationExteriorUFactor">
      <xsd:annotation>
         <xsd:documentation>U factor of exterior insulation in a mass wall  construction assembly  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationExteriorUFactorLimit">
      <xsd:annotation>
         <xsd:documentation>U factor limit for exterior insulation in a mass wall  construction assembly  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationInteriorRValue">
      <xsd:annotation>
         <xsd:documentation>R value of interior insulation in a mass wall  construction assembly  Units: h ft2 F per Btu</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationInteriorRValueMinimum">
      <xsd:annotation>
         <xsd:documentation>Minimum R value required in interior insulation in a mass wall  construction assembly  Units: h ft2 F per Btu</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationInteriorUFactor">
      <xsd:annotation>
         <xsd:documentation>U factor of interior insulation in a mass wall  construction assembly  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationInteriorUFactorLimit">
      <xsd:annotation>
         <xsd:documentation>U factor limit for interior insulation in a mass wall  construction assembly  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationMaterial">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Insulation Material</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Batt">Batt and Blanket</dtyp:displayterm>
            <dtyp:displayterm value="RigidBoard">Rigid Board</dtyp:displayterm>
            <dtyp:displayterm value="SprayFoam">Spray Polyurethane Foam (SPF)</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Batt"/>
         <xsd:enumeration value="RigidBoard"/>
         <xsd:enumeration value="SprayFoam"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationPlacement">
      <xsd:annotation>
         <xsd:documentation>An enumeration of possible placements of insulation in a construction assembly.</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Insulation Placement</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="ContinuousAboveDeck">Continuous above deck</dtyp:displayterm>
            <dtyp:displayterm value="ContinuousAboveDeckWithSleepers">Continuous above deck with sleepers</dtyp:displayterm>
            <dtyp:displayterm value="ContinuousAboveWaterproofMembrane">Continuous above waterproof  membrane</dtyp:displayterm>
            <dtyp:displayterm value="ContinuousBelowDeck">Continuous below deck</dtyp:displayterm>
            <dtyp:displayterm value="Core">Core</dtyp:displayterm>
            <dtyp:displayterm value="Exterior">Exterior</dtyp:displayterm>
            <dtyp:displayterm value="Interior">Interior</dtyp:displayterm>
            <dtyp:displayterm value="OverSuspendedCeiling">Over suspended ceiling</dtyp:displayterm>
            <dtyp:displayterm value="SlabFullyInsulated">Slab fully insulated</dtyp:displayterm>
            <dtyp:displayterm value="SlabHorizontal">Slab horizontal</dtyp:displayterm>
            <dtyp:displayterm value="SlabVertical">Slab vertical</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="ContinuousAboveDeck"/>
         <xsd:enumeration value="ContinuousAboveDeckWithSleepers"/>
         <xsd:enumeration value="ContinuousAboveWaterproofMembrane"/>
         <xsd:enumeration value="ContinuousBelowDeck"/>
         <xsd:enumeration value="Core"/>
         <xsd:enumeration value="Exterior"/>
         <xsd:enumeration value="Interior"/>
         <xsd:enumeration value="OverSuspendedCeiling"/>
         <xsd:enumeration value="SlabFullyInsulated"/>
         <xsd:enumeration value="SlabHorizontal"/>
         <xsd:enumeration value="SlabVertical"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationRValue">
      <xsd:annotation>
         <xsd:documentation>A measure of thermal resistance of an insulating material used in a pre-defined ConstructionAssembly or individual construction layer or used to insulate ducts or equipment like a water heater.  It is usually expressed in whole number units of (hr x ft2 x degrees F)/Btu but can be a decimal value  Units: h ft2 F per Btu</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Insulation R-value</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationRValueMinimumRequired">
      <xsd:annotation>
         <xsd:documentation>MInimum required thermal resistance of an insulating material for either a mandatory or prescriptive standard requirement  Units: h ft2 F per Btu</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationThickness">
      <xsd:annotation>
         <xsd:documentation>Measurement of the depth of insulation installed  Units: in</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationType">
      <xsd:annotation>
         <xsd:documentation>One of several defined types used in the Joint Appendix 4 construction assembly tables.</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Insulation Type</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Cellulose">Cellulose</dtyp:displayterm>
            <dtyp:displayterm value="CementEPScompound">Cement EPS compound</dtyp:displayterm>
            <dtyp:displayterm value="ExpandedPolystyrene">Expanded polystyrene</dtyp:displayterm>
            <dtyp:displayterm value="ExtrudedPolystyrene">Extruded polystyrene</dtyp:displayterm>
            <dtyp:displayterm value="Fiberglass">Fiberglass</dtyp:displayterm>
            <dtyp:displayterm value="InsulationOther">Insulation other</dtyp:displayterm>
            <dtyp:displayterm value="MineralWool">Mineral Wool</dtyp:displayterm>
            <dtyp:displayterm value="PlasticPolystyrene">Plastic Polystyrene</dtyp:displayterm>
            <dtyp:displayterm value="Polyurethane">Polyurethane</dtyp:displayterm>
            <dtyp:displayterm value="SprayFoam">Spray Foam Insulation  (SPF)</dtyp:displayterm>
            <dtyp:displayterm value="UreaFormaldehyde">Urea formaldehyde</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Cellulose"/>
         <xsd:enumeration value="CementEPScompound"/>
         <xsd:enumeration value="ExpandedPolystyrene"/>
         <xsd:enumeration value="ExtrudedPolystyrene"/>
         <xsd:enumeration value="Fiberglass"/>
         <xsd:enumeration value="InsulationOther"/>
         <xsd:enumeration value="MineralWool"/>
         <xsd:enumeration value="PlasticPolystyrene"/>
         <xsd:enumeration value="Polyurethane"/>
         <xsd:enumeration value="SprayFoam"/>
         <xsd:enumeration value="UreaFormaldehyde"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationUFactor">
      <xsd:annotation>
         <xsd:documentation>This is  the measure of thermal  transmittance, U Factor,  through the insulation  Units: Btu per h ft2 F</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationUFactorLimit">
      <xsd:annotation>
         <xsd:documentation>Upper limit on allowed U Factor for insulation in a given construction assembly.  Units: Btu per h ft2 F</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InteriorEnvelopeName">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InteriorFloorArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InteriorShadingDeviceName">
      <xsd:annotation>
         <xsd:documentation>The name of a shading control that is located on the inside of the building.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InteriorWallArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="IsGlazingChromogenic">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="true">Yes</dtyp:displayterm>
            <dtyp:displayterm value="false">No</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:boolean">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ManufacturerBrand">
      <xsd:annotation>
         <xsd:documentation>ConstructionAssemblyName is the descriptive name for a construction assembly found in the Joint Appendix 4 tables.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:token">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LayerMaterialName">
      <xsd:annotation>
         <xsd:documentation>Holds the name of a Material used in a Construction Assembly and therefore links it to all the qualities of the Material.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Layer</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MaterialName">
      <xsd:annotation>
         <xsd:documentation>Unique for each Material layer.   It is stored with the Material object and also with a specific layer used in a Construction Assembly.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR name MaterialReference</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Material Name</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MetalPanelThickness">
      <xsd:annotation>
         <xsd:documentation>Thickness of a metal panel roof or ceiling.  Evaluated in order to assign UFactor.  Units: in</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Metal Panel Thickness</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="NonFramedAssembly">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Nonframed Assembly</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="ICF_Assembly">Insulating Concrete Form</dtyp:displayterm>
            <dtyp:displayterm value="LogWall">Log Home Walls</dtyp:displayterm>
            <dtyp:displayterm value="MetalPanel">Metal Panel Walls</dtyp:displayterm>
            <dtyp:displayterm value="SIP_IJoist">SIP I-Joist</dtyp:displayterm>
            <dtyp:displayterm value="SIP_OSB">SIP OSB</dtyp:displayterm>
            <dtyp:displayterm value="SIP2x">SIP 2x</dtyp:displayterm>
            <dtyp:displayterm value="SIP4x">SIP 4x</dtyp:displayterm>
            <dtyp:displayterm value="StrawBaleWall">Straw Bale Walls</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="ICF_Assembly"/>
         <xsd:enumeration value="LogWall"/>
         <xsd:enumeration value="MetalPanel"/>
         <xsd:enumeration value="SIP_IJoist"/>
         <xsd:enumeration value="SIP_OSB"/>
         <xsd:enumeration value="SIP2x"/>
         <xsd:enumeration value="SIP4x"/>
         <xsd:enumeration value="StrawBaleWall"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="OutsideBoundaryCondition">
      <xsd:annotation>
         <xsd:documentation>Defines the nature of the environment that the outward facing surface of a Partition is in contact with.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Outside Boundary Condition</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Adiabatic">Adiabatic</dtyp:displayterm>
            <dtyp:displayterm value="Ground">Ground</dtyp:displayterm>
            <dtyp:displayterm value="Outdoors">Outdoors</dtyp:displayterm>
            <dtyp:displayterm value="Surface">Surface</dtyp:displayterm>
            <dtyp:displayterm value="Zone">Zone</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Adiabatic"/>
         <xsd:enumeration value="Ground"/>
         <xsd:enumeration value="Outdoors"/>
         <xsd:enumeration value="Surface"/>
         <xsd:enumeration value="Zone"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PanesDivider">
      <xsd:annotation>
         <xsd:documentation>Indicates if a double paned fenestration product has a divider.  If so this adjusts the mandatory U-Factor.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Panes Divider</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Divider">Divider</dtyp:displayterm>
            <dtyp:displayterm value="NoDivider">No divider</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Divider"/>
         <xsd:enumeration value="NoDivider"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PanesPerLight">
      <xsd:annotation>
         <xsd:documentation>An attribute of Fenestration Construction that tracks how many panes are in the fenestration product.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Panes Per Light</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="DoublePane">Double pane</dtyp:displayterm>
            <dtyp:displayterm value="GlassBlock">Glass block</dtyp:displayterm>
            <dtyp:displayterm value="SinglePane">Single Pane</dtyp:displayterm>
            <dtyp:displayterm value="TriplePane">Triple Pane</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="DoublePane"/>
         <xsd:enumeration value="GlassBlock"/>
         <xsd:enumeration value="SinglePane"/>
         <xsd:enumeration value="TriplePane"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PartitionAboveGrade">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="true">Above Grade</dtyp:displayterm>
            <dtyp:displayterm value="false">Below Grade</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:boolean">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PartitionFramingMaterial">
      <xsd:annotation>
         <xsd:documentation>The framing material used in a CodeCategory = Composite material.</xsd:documentation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Metal">Metal</dtyp:displayterm>
            <dtyp:displayterm value="WoodFraming">Wood</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Metal"/>
         <xsd:enumeration value="WoodFraming"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PartitionName">
      <xsd:annotation>
         <xsd:documentation>The name of any partition such as a wall or floor.  All partition names must be unique within a building description file.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PartitionThickness">
      <xsd:annotation>
         <xsd:documentation>The thickness of a wall, floor, ceiling or roof partition measured in inches  Units: in</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PartitionType">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Ceiling">Ceiling</dtyp:displayterm>
            <dtyp:displayterm value="Floor">Floor</dtyp:displayterm>
            <dtyp:displayterm value="Roof">Roof</dtyp:displayterm>
            <dtyp:displayterm value="Wall">Wall</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Ceiling"/>
         <xsd:enumeration value="Floor"/>
         <xsd:enumeration value="Roof"/>
         <xsd:enumeration value="Wall"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoofArea">
      <xsd:annotation>
         <xsd:documentation>The two dimensional extent of a roof surface.  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoofPitch">
      <xsd:annotation>
         <xsd:documentation>Pitch is the slope calculated by dividing the rise by the run  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoofProductType">
      <xsd:annotation>
         <xsd:documentation>An enumeration of types of roofing products that are evaluated when assigning a rule target in the Standards.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Roof Product Type</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="AsphaltShingles">Asphalt shingles</dtyp:displayterm>
            <dtyp:displayterm value="BuiltUpRoofing">Built-up roofing</dtyp:displayterm>
            <dtyp:displayterm value="ClayRoofTiles">Clay roof tiles</dtyp:displayterm>
            <dtyp:displayterm value="FactoryAppliedCoating">Factory applied coating</dtyp:displayterm>
            <dtyp:displayterm value="FieldAppliedCoating">Field applied coating</dtyp:displayterm>
            <dtyp:displayterm value="FluidAppliedMembrane">Fluid applied membrane</dtyp:displayterm>
            <dtyp:displayterm value="MetalRoof">Metal roof</dtyp:displayterm>
            <dtyp:displayterm value="MetalShakesShingles">Metal shakes shingles</dtyp:displayterm>
            <dtyp:displayterm value="ModifiedBitumin">Modified bitumin</dtyp:displayterm>
            <dtyp:displayterm value="PolymerCompositeSteepSlope">Polymer composite steep slope</dtyp:displayterm>
            <dtyp:displayterm value="RoofPavers">Roof pavers</dtyp:displayterm>
            <dtyp:displayterm value="SinglePlyThermoplastic">Single ply thermoplastic</dtyp:displayterm>
            <dtyp:displayterm value="SinglePlyThermoset">Single ply thermoset</dtyp:displayterm>
            <dtyp:displayterm value="SprayPolyurethaneFoam">Spray polyurethane foam</dtyp:displayterm>
            <dtyp:displayterm value="StoneAggregateBallast">Stone aggregate ballast</dtyp:displayterm>
            <dtyp:displayterm value="WoodShakesShingles">Wood shakes shingles</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="AsphaltShingles"/>
         <xsd:enumeration value="BuiltUpRoofing"/>
         <xsd:enumeration value="ClayRoofTiles"/>
         <xsd:enumeration value="FactoryAppliedCoating"/>
         <xsd:enumeration value="FieldAppliedCoating"/>
         <xsd:enumeration value="FluidAppliedMembrane"/>
         <xsd:enumeration value="MetalRoof"/>
         <xsd:enumeration value="MetalShakesShingles"/>
         <xsd:enumeration value="ModifiedBitumin"/>
         <xsd:enumeration value="PolymerCompositeSteepSlope"/>
         <xsd:enumeration value="RoofPavers"/>
         <xsd:enumeration value="SinglePlyThermoplastic"/>
         <xsd:enumeration value="SinglePlyThermoset"/>
         <xsd:enumeration value="SprayPolyurethaneFoam"/>
         <xsd:enumeration value="StoneAggregateBallast"/>
         <xsd:enumeration value="WoodShakesShingles"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoofProductWeight">
      <xsd:annotation>
         <xsd:documentation>The weight of the roofing product covering 1 square foot.  Units: lb per ft2</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Roof Product Weight</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoofRise">
      <xsd:annotation>
         <xsd:documentation>This is the distance in inches that a roof rises vertically for the roof run of 12 inches to its ridge and is used in calculating the roof pitch or slope.  This is sometimes also referred to as pitch when the run is assumed to be 12 inches.  Units: in</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoofRiseToRun">
      <xsd:annotation>
         <xsd:documentation>This is the representation of roof rise to run as a regular expression that accepts #:#.</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:RoofRiseToRun">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoofRun">
      <xsd:annotation>
         <xsd:documentation>This is horizontal distance from the wall top plate to the roof's ridge line and is used in calculating the roof pitch or slope  Units: in</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoofSlope">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="LowSlope">Low slope</dtyp:displayterm>
            <dtyp:displayterm value="SteepSlope">Steep slope</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="LowSlope"/>
         <xsd:enumeration value="SteepSlope"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SIPThickness">
      <xsd:annotation>
         <xsd:documentation>The measurement from one side of the SIP panel to the other side  Units: in</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>SIP Thickness</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SkylightCurbType">
      <xsd:annotation>
         <xsd:documentation>Curb or No Curb.
For selection of NA-6 properties</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Skylight Curb Type</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="CurbMounted">Curb mounted</dtyp:displayterm>
            <dtyp:displayterm value="DeckMounted">Deck mounted</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="CurbMounted"/>
         <xsd:enumeration value="DeckMounted"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SkylightGlazing">
      <xsd:annotation>
         <xsd:documentation>Used in selection of baseline properties</xsd:documentation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Glass">Glass</dtyp:displayterm>
            <dtyp:displayterm value="Plastic">Plastic</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Glass"/>
         <xsd:enumeration value="Plastic"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SkylightName">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SkylightRoofRatio">
      <xsd:annotation>
         <xsd:documentation>The ratio of the rough opening area of the skylights in a parent surface to the total parent surface area.  This can either be a local ratio (for a single roof section) or a global ratio (for the entire roof area in the building or project).  referred to as SRR.  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Skylight Roof Ratio</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SolarReflectance">
      <xsd:annotation>
         <xsd:documentation>From E+ Input/Output Ref:The diffuse solar reflectance of the unglazed part of the shading  surface (default = 0.2). This reflectance is assumed to be the same for   beam-to-diffuse and diffuse-to-diffuse reflection. Beam-to-diffuse reflection  is assumed to be independent of angle of incidence of beam radiation.  Diffuse-to-diffuse reflection is assumed to be independent of angular distribution of the incident of diffuse radiation. The outgoing diffuse radiation is assumed to be isotropic (hemispherically uniform). The sum of this reflectance and the shading surface transmittance should be less than or equal to 1.0.  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PartitionSpaceName">
      <xsd:annotation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TotalSkylightArea">
      <xsd:annotation>
         <xsd:documentation>The sum of all skylights in a building.  Total Skylight Area can be derived from the Fenestration Skylight object which contains all skylights in the building.  Units: ft2</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Total Skylight Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="UndergroundWallHeight">
      <xsd:annotation>
         <xsd:documentation>Describes the height of the underground wall, i.e. the depth to the ground surface.  Units: ft</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="VisibleReflectance">
      <xsd:annotation>
         <xsd:documentation>From E+ Input/Output Ref:The diffuse visible reflectance of the unglazed part of the shading surface (default = 0.2). This reflectance is assumed to be the same for beam-to-diffuse and diffuse-to-diffuse reflection. Beam-to-diffuse reflection is assumed to be independent of angle of incidence of beam radiation. Diffuse-to-diffuse reflection is assumed to be independent of angular distribution of the incident of diffuse radiation. The outgoing diffuse radiation is assumed to be isotropic (hemispherically uniform).  This value if used only for the daylighting calculation (ref: Daylighting:Controls).  The sum of this reflectance and the shading surface transmittance should be less than or equal to 1.0.  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="WWR">
      <xsd:annotation>
         <xsd:documentation>The ratio of the rough opening area of the window in a parent Wall to the total Wall surface area.  This can either be a local ratio (for a single wall) or a global ratio (for all walls in the building or project).  Units: none</xsd:documentation>
         <xsd:documentation source="propertyrules">NR Presc include;  CBECC NR exclude</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Window Wall Ratio</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
